repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
        exclude: notebooks/data/.+
      - id: end-of-file-fixer
        exclude: notebooks/data/.+
        exclude_types: [ json, binary ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: https://github.com/kynan/nbstripout
    rev: "0.9.0"
    hooks:
      - id: nbstripout
